nav h1 {
  margin-bottom: 60px;
  font-size: 30px;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(4, minmax(350px, 1fr));
}
.project {
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.5s ease;
  border: 1px solid gray;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem 0 transparent;
}
.project:hover {
  transform: translateY(-0.1rem);
  opacity: 0.5;
}
.project img {
  max-width: 400px;
  width: 100%;
  height: 350px;
  border-bottom: 1px solid gray;
}
.project p,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkgray;
  width: 100%;
}
footer p,
footer a {
  padding-left: 10px;
  padding-right: 10px;
}
footer button:hover {
  border-radius: 100%;
  border: none;
  outline: none;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

.hire_me {
  margin-top: 10px;
  margin-bottom: 10px;
}
.hire_me input {
  padding: 5px;
}

.view {
  margin-bottom: 10px;
}

.btn {
  background: gray;
  padding: 10px;
  color: black;
  outline: none;
  border-radius: 2px;
  transition: 0.5s ease;
  border: 1px solid transparent;
}

.btn:hover {
  opacity: 0.7;
  background: lightgray;
}
@media screen and (max-width: 600px) {
  .portfolio__container {
    display: block;
  }
  .project {
    width: 100%;
  }
  .project img {
    width: 100%;
    border-bottom: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}
